*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root{
    --bg-color: #141010; 
    --snd-bg-color:#c3195d;
    --text-color:#ffffff;
    --main-color: #f70776;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 12rem 10% 3rem;
    /* padding: 10rem 8% 2rem; */
}

/* header section */

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0 , 0 , 0 ,0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;

}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: zoom ease-in-out;
    /* transition: margin-right 2s .5s; */
    /* transition: margin-right 2s, color 1s; */
    

}

.logo:hover {
    transform: scale(1.1);
    
}


span{
    color: var(--snd-bg-color);
}

.navbar{
    display: flex;
}
.navbar a{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--main-color);
    /* margin-left: 90px; */
    margin-left: 95px;;
    /* padding: 12px; */
    padding: 14px;;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--snd-bg-color);
    border-bottom: 3px solid var(--snd-bg-color);
}

.nav-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem ;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;


}

.nav-btn:hover{
    background: var(--snd-bg-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;

}

/* home section */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h2 {
    font-size: 5rem;
    font-weight: 700;

}

.home-content span {
    font-size: 4rem;
    font-weight: 550;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 45vw;

}

.home-img::before{
    content: 'FITNESS';
    position: absolute;
    margin-left: 4px;
    margin-right: 4px;
   
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--text-color);
    opacity: 0.1;
    z-index: -1;
}

.home-content p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: skyblue;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;

}

.btn:hover{
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--bg-color);

}